esphome:
  name: plug-s31
  friendly_name: Plug-S31
  comment: Sonoff S31 Power Monitor
  project:
    name: SB-Inovations.Sonoff_S31
    version: 0.0.1
  name_add_mac_suffix: true
  
# This should point to the public location of this yaml file.
dashboard_import:
  package_import_url: github://bnevets27/ESPHome-Projects/config/sonoff-s31-no_relay.yaml@main
  import_full_config: false

## Note: Package order matters, they are loaded top down so, lowerest in the list overrites values of above packages
packages:
  remote_package:
    url: https://github.com/bnevets27/ESPHome-Projects/
    ref: main
    files:
    #- common/base-8266.yaml
    #- common/base-generic.yaml
    - common/base-diagnostic-8266.yaml
    - common/base-network.yaml
    - common/devices/plugs/sonoff-s31-no_relay.yaml
    refresh: 0d
