substitutions:
  hardware_info: "Disabled-Relay|ESP8266_1M|CSE7766"
  #hardware_info: "Removed-Relay|ESP8266_1M|CSE7766"
  
# This should point to the public location of this yaml file.
dashboard_import:
  package_import_url: github://bnevets27/ESPHome-Projects/config/sonoff-s31.yaml@main
  import_full_config: true

## Note: Package order matters, they are loaded top down so, lowerest in the list overrites values of above packages
packages:
  remote_package:
    url: https://github.com/bnevets27/ESPHome-Projects/
    ref: main
    files:
    - common/base-8266.yaml
    - common/devices/plugs/sonoff-s31-no_relay.yaml
    refresh: 0d
